<!doctype html>
<html>
    <head>
        <title>
            Stylq
        </title>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    </head>
    <body>
        <h1 class="grand">
            STYLQ
        </h1>
        <div class="left-content floating-background">
          <a href="/">
            Home
          </a>
        </div>
        <div class="right-content floating-background">
          <a href="/about">
            About
          </a>
        </div>
        <h2 class="main-title">
          This WebSite is designed using Stylq
        </h2>
        <h2 class="sub-title">
          About Author
        </h2>
        <p class="description">
          Author  : Ajith Krish
          <br />
          <br />
          Mail ID :
          <a href="mailto:mailingtoajith@gmail.com">
            mailingtoajith@gmail.com
          </a>
        </p>
        <h2 class="sub-title">
          View this WebSite on GitHub
        </h2>
        <p class="description">
          <a href="https://github.com/aj1thkr1sh/stylq-example">
            View on GitHub
          </a>
        </p>
    </body>
</html>
