<!doctype html>
<html>
    <head>
        <title>
            Stlyq
        </title>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    </head>
    <body>
        <h1 class="grand">
            STYLQ
        </h1>
        <div class="left-content floating-background">
          <a href="/">
            Home
          </a>
        </div>
        <div class="right-content floating-background">
          <a href="/about">
            About
          </a>
        </div>
        <h2 class="main-title">
          This WebSite is designed using Stylq
        </h2>
        <h2 class="sub-title">
          About Stylq
        </h2>
        <p class="description">
          Stylq is the cool syntax HTML Preprocessor. Stylq will allow user to make HTML file more easily. Stlyq is the Rich Syntax file to generator HTML file in the easy way. Stylq is the easy readable and writable.
          <br />
          Stylq also allows to use variable to reuse the tokens
        </p>
        <h2 class="sub-title">
          Command Line Usage
        </h2>
        <p class="description">

          For
          <a href="https://www.npmjs.com/package/stylq">
            NPM
          </a>
          <br />
          <code>
            npm i stylq
          </code>
          <br />
          <br />
          For
          <a href="https://yarnpkg.com/en/package/stylq">
            YARN
          </a>
          <br />
          <code>
            yarn add stylq
          </code>
        </p>
        <h2 class="sub-title">
          Features
        </h2>
        <ul>
          <li>
            1. Cool Syntax
          </li>
          <li>
            2. Usage of Variables
          </li>
        </ul>
    </body>
</html>
